<div id="<%= dom_id artifact %>">
  <p>
    <strong>Name:</strong>
    <%= artifact.name %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= artifact.picture %>
  </p>

  <p>
    <strong>User:</strong>
    <%= artifact.user_id %>
  </p>

</div>
